<a href="#" class="flex gap-4 group">
    <div class="w-24 h-20 rounded-xl overflow-hidden flex-shrink-0">
        <img src="assets/our_case.png" alt="Post thumbnail" class="w-full h-full object-cover group-hover:scale-110 transition duration-300">
    </div>
    <div>
        <div class="text-xs text-gray-400 mb-1 flex items-center">
            <span>E-commerce</span>
            <span class="mx-1 text-blue-600">•</span>
            <span>January 2, 2026</span>
        </div>
        <h5 class="text-sm font-bold text-gray-900 line-clamp-2 group-hover:text-blue-600 transition-colors">LTV Mobile Games: How to Calculate & Increase Lifetime Value</h5>
    </div>
</a>
