<section class="py-20">
    <div class="container mx-auto px-4 text-center">
        <div class="flex items-center justify-center">
            <img src="assets/icon_title.svg" class="h-5 mr-2">
            <span class="text-md text-black opacity-80 tracking-wider">Our Milestones</span>
        </div>
        <h2 class="text-3xl font-bold text-gray-900 mt-2 mb-12">ADShift in Numbers</h2>
        <p class="text-gray-600 max-w-2xl mx-auto mb-16">
            We partner with businesses of all sizes — from emerging startups to established enterprises. At ADShift, success is not just a result but a way of thinking. Partner with us and see the impact.
        </p>

        <div class="grid grid-cols-2 md:grid-cols-3 gap-6 max-w-2xl mx-auto">
            <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">1000+</div>
                <div class="text-xs text-gray-800 font-regular">Worldwide Clients</div>
            </div>
            <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">$5M</div>
                <div class="text-xs text-gray-800 font-regular">Spend per year</div>
            </div>
            <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">900+</div>
                <div class="text-xs text-gray-800 font-regular">Advertisiers</div>
            </div>
            <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">0.2%</div>
                <div class="text-xs text-gray-800 font-regular">Ban rate</div>
            </div>
             <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">100+</div>
                <div class="text-xs text-gray-800 font-regular">Agencies</div>
            </div>
             <div class="p-6 bg-white card-shadow rounded-2xl">
                <div class="text-3xl font-bold text-gradient mb-1">106+</div>
                <div class="text-xs text-gray-800 font-regular">Digital Platforms</div>
            </div>
        </div>
    </div>
</section>